{% extends 'base.html' %}

{% block content %}

<div class="card" style="width: 60%;">
    <h1>About This Project</h1>
    <br>

    <p>
        This Gas Monitoring System is designed to detect hazardous gases using the MQ-2 sensor
        and provide real-time alerts to ensure safety.
    </p>

    <br>

    <p>
        The system continuously monitors gas levels and displays live readings, graphical analysis,
        and historical logs through an interactive web dashboard.
    </p>

    <br>

    <p>
        In case of dangerous gas levels, the system triggers visual and audio alerts to notify users
        immediately, helping prevent accidents and ensure timely action.
    </p>
</div>

{% endblock %}