{% extends 'base.html' %}
{% load static %}

{% block content %}



<audio id="alarm" src="{% static 'alarm.mp3' %}" preload="auto"></audio>

<div id="dangerOverlay">
  <div class="dangerBox">
    <span class="close-btn" onclick="closeAlert()">✖</span>
    ⚠ GAS LEAK DETECTED ⚠
    <br />
    Please check immediately!
  </div>
</div>

<button onclick="enableSound()"></button>

<h1>Gas Monitoring System</h1>
<p>● Live Sensor Monitoring</p>

<div class="card">
  <h2>Current Reading</h2>

  {% if latest %}
    <p><b>Gas Type:</b> {{ latest.gas_type }}</p>
    <h1>{{ latest.value }}</h1>

    {% if latest.is_safe %}
      <p class="safe">SAFE</p>
    {% else %}
      <p class="danger">DANGER</p>
    {% endif %}
  {% endif %}
</div>

<script>
function checkDanger(){
    let safe = "{{ latest.is_safe|yesno:'true,false' }}";

    if(safe === "false"){
        document.body.classList.add("dangerMode");
        document.getElementById("dangerOverlay").style.display = "flex";
        document.getElementById("alarm").play().catch(() => {});
    }
}
function closeAlert(){
    document.getElementById("dangerOverlay").style.display = "none";
    document.body.classList.remove("dangerMode");
}
setInterval(function () {
    location.reload();
}, 5000);
checkDanger();
</script>

{% endblock %}
