<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         nav {
            
            color: white;
            padding: 20px;
            padding-bottom: 0px;
            padding-top: 0px;
        } 

        li,
        h1,
        ul {
            display: inline;
        }

        ul {
            margin-left: 10%;

        }

        li {
            margin-left: 25px;
        }
    </style>
</head>
<body>
    <nav>
    <h1>Hazard Air Monitor</h1>

    <ul>
            <li>Home</li>
            <li>About</li>
            <li>Help</li>
            <li>Temperature</li>
            <li>Humidity</li>
            <li>logs</li>
            <li>settings</li>
        </ul>

    </nav>
    <hr>
</body>
</html>